
plugins {
    id 'nf-schema@2.3.0'
    id 'nf-prov@1.4.0'
}

params {

    input = null
    outdir = null
    private_study = false
    
    publish_dir_mode = 'copy'
    help = false

    // Reference databases //
    ssu_db_fasta                = ""
    ssu_db_tax                  = ""
    ssu_db_otu                  = ""
    ssu_db_mscluster            = ""
    ssu_label                   = "SILVA-SSU"

    lsu_db_fasta                = ""
    lsu_db_tax                  = ""
    lsu_db_otu                  = ""
    lsu_db_mscluster            = ""
    lsu_label                   = "SILVA-LSU"

    dada2_silva_label           = "DADA2-SILVA"
    dada2_pr2_label             = "DADA2-PR2"

    unite_db_fasta              = ""
    unite_db_tax                = ""
    unite_db_otu                = ""
    unite_db_mscluster          = ""
    unite_label                 = "UNITE"

    itsone_db_fasta             = ""
    itsone_db_tax               = ""
    itsone_db_otu               = ""
    itsone_db_mscluster         = ""
    itsone_label                = "ITSoneDB"

    pr2_db_fasta                = ""
    pr2_db_tax                  = ""
    pr2_db_otu                  = ""
    pr2_db_mscluster            = ""
    pr2_label                   = "PR2"

    rrnas_rfam_covariance_model = ""
    rrnas_rfam_claninfo         = ""

    std_primer_library  = []

    multiqc_config      = "$projectDir/assets/multiqc_config.yml"

    // mgnify-pipelines-toolkit version
    mpt_version         = "1.4.4--pyhdfd78af_0"
    // PIMENTO version
    pimento_version     = "1.0.2--pyhdfd78af_0"

    // Schema validation default options
    validationFailUnrecognisedParams = false
    validationLenientMode            = false
    validationSchemaIgnoreParams     = ''
    validationShowHiddenParams       = false
    validate_params                  = true

    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss' ) // Config options

    save_trimmed_fail = true
}

// Set bash options
process.shell = [
    "bash",
    "-C",
    "-e",
    "-u",
    "-o",
    "pipefail",
]

prov {
    enabled = true
    formats {
        bco {
        file = "${params.outdir}/bco.json"
        overwrite = true
        }
    }
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

profiles {

    // This profile increase the dada2 cpus, mem and runtime limit
    // We will improve this, but as of now if you have a complex biome or deeply sequences use this one
    large_samples {
        includeConfig 'conf/large_samples.config'
    }

    test {
        includeConfig 'conf/test.config'
        includeConfig 'conf/test_dbs.config'
    }

}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'ebi-metagenomics/amplicon-analysis-pipeline'
    author          = """Microbiome Informatics Team - EMBL-EBI"""
    contributors    = [
        [
            name: 'Christian Atallah',
            affiliation: 'EMBL-EBI',
            github: '@chrisata',
            contribution: [
                'author',
                'maintainer',
            ],
            orcid: 'https://orcid.org/0000-0002-4853-4189',
        ],
        [
            name: 'Martin Beracochea',
            affiliation: 'EMBL-EBI',
            github: '@mberacochea',
            contribution: [
                'contributor',
                'maintainer',
            ],
            orcid: 'https://orcid.org/0000-0003-3472-3736',
        ],
        [
            name: 'Germana Baldi',
            affiliation: 'EMBL-EBI',
            github: '@Ge94',
            contribution: [
                'contributor',
                'maintainer',
            ],
            orcid: 'https://orcid.org/0000-0003-1719-5206',
        ],
        [
            name: 'Sandy Rogers',
            affiliation: 'EMBL-EBI',
            github: '@SandyRogers',
            contribution: [
                'contributor'
            ],
            orcid: 'https://orcid.org/0000-0002-4283-6135',
        ],
        [
            name: 'Ekaterina Sakharova',
            affiliation: 'EMBL-EBI',
            github: '@KateSakharova',
            contribution: [
                'contributor',
            ],
            orcid: 'https://orcid.org/0000-0001-6867-2039',
        ],
        [
            name: 'Varsha Kale',
            affiliation: 'EMBL-EBI',
            github: '@Vkale1',
            contribution: [
                'contributor'
            ],
            orcid: 'https://orcid.org/0000-0002-3503-6383',
        ],
        [
            name: 'Jennifer Lu',
            affiliation: 'EMBL-EBI',
            github: 'ebi-jlu8',
            contribution: [
                'contributor'
            ],
            orcid: 'https://orcid.org/0000-0002-1777-4788',
        ],
    ]
    homePage        = 'https://github.com/EBI-Metagenomics/amplicon-analysis-pipeline'
    description     = """MGnify's amplicon analysis pipeline performs taxonomic annotation of amplicon sequencing data using both closed-reference and amplicon sequence variant methods."""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=23.04.0'
    version         = '6.0.3'
    doi             = '10.1093/nar/gkac1080'
}
