/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

manifest {
    mainScript = "main.nf"
}

params {
    outdir = "results"
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/modules"

    test_data {
        'sarscov2' {
            'illumina' {
                fastq_pe_1      = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test2_1.fastq.gz"
                fastq_pe_2      = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test2_2.fastq.gz"
                fastq_se        = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test_1.fastq.gz"
            }
        }
    }

}

profiles {

    local {
         singularity {
            enabled = true
            autoMounts = true
            registry = 'quay.io'
            userEmulation = true

        }
        executor {
            name = "local"
            cpus = 2
        }
        conda.enabled = true
        includeConfig '../conf/test.config'
        stub: true
    }
    conda {
        conda.enabled = true
        stub: true
    }
}
