/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store the paths/labels to the different reference databases
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    // Silva databases
    ssu_db_fasta = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/SILVA-SSU/138.1/SILVA-SSU.fasta"
    ssu_db_tax = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/SILVA-SSU/138.1/SILVA-SSU-tax.txt"
    ssu_db_otu = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/SILVA-SSU/138.1/SILVA-SSU.otu"
    ssu_db_mscluster = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/SILVA-SSU/138.1/SILVA-SSU.fasta.mscluster"
    ssu_label = "SSU"

    lsu_db_fasta = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/SILVA-LSU/138.1/SILVA-LSU.fasta"
    lsu_db_tax = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/SILVA-LSU/138.1/SILVA-LSU-tax.txt"
    lsu_db_otu = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/SILVA-LSU/138.1/SILVA-LSU.otu"
    lsu_db_mscluster = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/SILVA-LSU/138.1/SILVA-LSU.fasta.mscluster"
    lsu_label = "LSU"

    dada2_silva_label = "DADA2-SILVA"

    // UNITE database
    unite_db_fasta = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/UNITE/9.0/UNITE.fasta"
    unite_db_tax = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/UNITE/9.0/UNITE-tax.txt"
    unite_db_otu = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/UNITE/9.0/UNITE.otu"
    unite_db_mscluster = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/UNITE/9.0/UNITE.fasta.mscluster"
    unite_label = "UNITE"

    // ITSone database
    itsone_db_fasta = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/ITSone/1.141/ITSone.fasta"
    itsone_db_tax = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/ITSone/1.141/ITSone-tax.txt"
    itsone_db_otu = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/ITSone/1.141/ITSone.otu"
    itsone_db_mscluster = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/ITSone/1.141/ITSone.fasta.mscluster"
    itsone_label = "ITSonedb"

    // PR2 database
    pr2_db_fasta = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/PR2/5.0.0/PR2.fasta"
    pr2_db_tax = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/PR2/5.0.0/PR2-tax.txt"
    pr2_db_otu = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/PR2/5.0.0/PR2.otu"
    pr2_db_mscluster = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/PR2/5.0.0/PR2.fasta.mscluster"
    pr2_label = "PR2"

    dada2_pr2_label = "DADA2-PR2"

    // rfam
    rfam = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/RFAM/14.10/ribo.cm"
    claninfo = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/taxdb_generation_v6/RFAM/14.10/ribo.clan_info"

}