/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/ampliconpipeline Nextflow config file for "large samples"
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
This profile increase the dada2 number of cpus, mem and runtime limit
We will improve this, but as of now if you have a complex biome or deephtly sequences use this one
----------------------------------------------------------------------------------------
*/

process {

    // For DADA2, we set the size to be "big" enough, and we don't retry, as this could lead 
    // to wasted resources. If it fails with these resources, we will have to investigate further.
    withLabel:dada2_resources {
        cpus = { 48 }
        memory = { 64.GB}
        time   = { 144.h }
        errorStrategy = 'finish'
        maxRetries = 0
    }
}