
/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store the paths/labels to the different reference databases
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    // Silva databases
    ssu_db_fasta = "${projectDir}/tests/test-ref-dbs/SILVA-SSU/SILVA-SSU_small.fasta"
    ssu_db_tax = "${projectDir}/tests/test-ref-dbs/SILVA-SSU/SILVA-SSU_small-tax.txt"
    ssu_db_otu = "${projectDir}/tests/test-ref-dbs/SILVA-SSU/SILVA-SSU_small.otu"
    ssu_db_mscluster = "${projectDir}/tests/test-ref-dbs/SILVA-SSU/SILVA-SSU_small.fasta.mscluster"
    ssu_label = "SSU"

    lsu_db_fasta = "${projectDir}/tests/test-ref-dbs/SILVA-LSU/SILVA-LSU_small.fasta"
    lsu_db_tax = "${projectDir}/tests/test-ref-dbs/SILVA-LSU/SILVA-LSU_small-tax.txt"
    lsu_db_otu = "${projectDir}/tests/test-ref-dbs/SILVA-LSU/SILVA-LSU_small.otu"
    lsu_db_mscluster = "${projectDir}/tests/test-ref-dbs/SILVA-LSU/SILVA-LSU_small.fasta.mscluster"
    lsu_label = "LSU"

    dada2_silva_label = "DADA2-SILVA"

    // UNITE database
    unite_db_fasta = "${projectDir}/tests/test-ref-dbs/UNITE/UNITE_small.fasta"
    unite_db_tax = "${projectDir}/tests/test-ref-dbs/UNITE/UNITE_small-tax.txt"
    unite_db_otu = "${projectDir}/tests/test-ref-dbs/UNITE/UNITE_small.otu"
    unite_db_mscluster = "${projectDir}/tests/test-ref-dbs/UNITE/UNITE_small.fasta.mscluster"
    unite_label = "UNITE"

    // ITSone database
    itsone_db_fasta = "${projectDir}/tests/test-ref-dbs/ITSone/ITSone_small.fasta"
    itsone_db_tax = "${projectDir}/tests/test-ref-dbs/ITSone/ITSone_small-tax.txt"
    itsone_db_otu = "${projectDir}/tests/test-ref-dbs/ITSone/ITSone_small.otu"
    itsone_db_mscluster = "${projectDir}/tests/test-ref-dbs/ITSone/ITSone_small.fasta.mscluster"
    itsone_label = "ITSonedb"

    // PR2 database
    pr2_db_fasta = "${projectDir}/tests/test-ref-dbs/PR2/PR2_small.fasta"
    pr2_db_tax = "${projectDir}/tests/test-ref-dbs/PR2/PR2_small-tax.txt"
    pr2_db_otu = "${projectDir}/tests/test-ref-dbs/PR2/PR2_small.otu"
    pr2_db_mscluster = "${projectDir}/tests/test-ref-dbs/PR2/PR2_small.fasta.mscluster"
    pr2_label = "PR2"

    dada2_pr2_label = "DADA2-PR2"

    // rfam
    rrnas_rfam_covariance_model = "${projectDir}/tests/test-ref-dbs/RFAM/ribo.cm"
    rrnas_rfam_claninfo = "${projectDir}/tests/test-ref-dbs/RFAM/ribo.clan_info"

    // Standard primer library
    std_primer_library = ""

}

