/*
 * EMBL-EBI - Microbiome Informatics team - config file
*/
executor {
    name = "local"
}

conda.enabled = false

docker {
    enabled = true
    autoMounts = true
    registry = "quay.io"
}

workDir = ""

 params {
   max_cpus   = 4
   max_memory = '8.GB'
   max_time   = '6.h'
}

// https://www.nextflow.io/docs/latest/config.html#miscellaneous
// On a successful completion of a run all files in work directory are automatically deleted.
cleanup = false

/********************************************/
/**       EMBL-EBI Fire S3 settings       **/
/********************************************/
aws {
    client {
        anonymous = true
        endpoint = 'https://hl.fire.sdo.ebi.ac.uk'
        s3PathStyleAccess = true
        signerOverride = "S3SignerType"
    }
}
