
/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store the paths/labels to the different reference databases
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    // Silva databases
    ssu_db_fasta = ""
    ssu_db_tax = ""
    ssu_db_otu = ""
    ssu_db_mscluster = ""
    ssu_label = "SSU"

    lsu_db_fasta = ""
    lsu_db_tax = ""
    lsu_db_otu = ""
    lsu_db_mscluster = ""
    lsu_label = "LSU"

    dada2_silva_label = "DADA2-SILVA"

    // UNITE database
    unite_db_fasta = ""
    unite_db_tax = ""
    unite_db_otu = ""
    unite_db_mscluster = ""
    unite_label = "UNITE"

    // ITSone database
    itsone_db_fasta = ""
    itsone_db_tax = ""
    itsone_db_otu = ""
    itsone_db_mscluster = ""
    itsone_label = "ITSonedb"

    // PR2 database
    pr2_db_fasta = ""
    pr2_db_tax = ""
    pr2_db_otu = ""
    pr2_db_mscluster = ""
    pr2_label = "PR2"

    dada2_pr2_label = "DADA2-PR2"


    // rfam
    rfam = ""
    claninfo = ""

    // Standard primer library
    std_primer_library = ""

}

