/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run ebi-metagenomics/amplicon-analysis-pipeline -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    max_cpus   = 4
    max_memory = '8.GB'
    max_time   = '6.h'
    modules_testdata_base_path = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/"
}

docker {
    enabled = true
    autoMounts = true
    registry = "quay.io"
}

workDir = ".nf-test"

/********************************************/
/**       EMBL-EBI Fire S3 settings       **/
/********************************************/
aws {
    client {
        anonymous = true
        endpoint = 'https://hl.fire.sdo.ebi.ac.uk'
        s3PathStyleAccess = true
        signerOverride = "S3SignerType"
    }
}

// Set bash options
process.shell = [
    "bash",
    "-C",
    "-e",
    "-u",
    "-o",
    "pipefail",
    "+o",
    "noclobber"
]

process {
    // the default resources in conf/base.config are higher than your average laptop
    // so making these smaller for a local config
    withLabel:dada2_resources {
        cpus =   { 4   * task.attempt }
        memory = { 4.GB * task.attempt }
        time   = { 8.h   * task.attempt }
        maxRetries = 3
    }
    withLabel:process_medium {
        cpus   = { 4     * task.attempt }
        memory = { 4.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:medium {
        cpus   = { 4     * task.attempt }
        memory = { 4.GB * task.attempt }
        time   = { 8.h   * task.attempt }
        maxRetries = 3
    }

    withName: INFERNAL_CMSEARCH {
        ext.args = '--noali --hmmonly -Z 1000 -o /dev/null'
    }
}