
process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: INFERNAL_CMSEARCH {
        ext.args = '--noali --hmmonly -Z 1000 --cut_ga'
    }

    withName: SEQKIT_SPLIT2 {
        // We are tweaking the prefix to prevent names like <assembly_id>.part_001.gz to be used
        // in favour of <assembly_id>_part_001.gz which is more file name parsing friendly
        // which helps when concatenating chunked post-processed fasta files, such as the results of interposcan
        ext.args = { "--by-length 50M --by-length-prefix ${meta.id}_" }
    }
}

