
// set temp 'work' dir to nobackup
workDir = '/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/nf-work'

process {
    withLabel: 'light' {
        cpus = 1
        memory = { 2.GB }
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
    }
    withLabel: 'medium' {
        cpus = 1
        memory = { 2.GB }
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
    }

}