
// set temp 'work' dir to nobackup
workDir = '/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/nf-work'

executor {
    name = "lsf"
    queueSize = 1000
    submitRateLimit = "10 sec"
}

process {
    withLabel: 'light' {
        cpus = 1
        memory = { 3.GB * task.attempt }
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
        maxRetries = 2
    }
    withLabel: 'medium' {
        cpus = 8
        memory = { 3.GB * task.attempt }
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
        maxRetries = 2
    }
    withLabel: 'heavy' {
        cpus = 1
        memory = { 10.GB + (10.GB * (task.attempt-1)) }
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
        maxRetries = 2
    }
    withLabel: 'very_heavy' {
        cpus = 8
        memory = { 32.GB + (10.GB * (task.attempt-1)) }
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
        maxRetries = 2
    }

}